{%extends 'master/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

  <!-- Looping through db images an info -->
  {% for img_item in img %}

  <div class="row">
  <div class ="col-md-4">
    <div>
      <img src="{{img_item.article_image.url}}" class="img-responsive" alt="Image" width ="300" height ="300">
      <p><center>{{ img_item.name }}</center></p>
    </div>
    <hr>
  </div>

  <div class ="col-md-8">
  <p><center>{{ img_item.description }}</center></p>
  </div>
  </div>

  {% endfor %}

</div>
{% endblock %}
