{%extends 'master/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

  <!-- Looping through db images an info -->
  {% for img_item in img %}

  <div class="row">
    <div class="col-md-4">
      <div>
        <!-- modal button -->
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal{{img_item.id}}">
          <img src="{{img_item.article_image.url}}" class="img-responsive" alt="Image" width="300" height="300">
          <p>
            <center>{{ img_item.name }}</center>
          </p>
        </button>
        <hr>
      </div>
    </div>

    <div class="col-md-8">
      <p class="fnt">{{ img_item.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% for img_item in img %}
<div class="modal" id="myModal{{img_item.id}}" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><img src="{{img_item.article_image.url }}" alt="" width="400" height="400"></center>
        <br>
        <p class="modal-title fnt">{{ img_item.description }}</p>
        <br>
        <center>
          <p class="modal-title fnt">{{ img_item.pub_date }}</p>
        </center>
      </div>

      <div class="modal-footer">
        <input class="form-control" type="text" value="https://thashpg.herokuapp.com{{img_item.article_image.url}}" id="{{img_item.id}}-url">
        <button type="button" value="https://thashpg.herokuapp.com/{{img_item.article_image.url}}" onclick="copyLink()" class="btn btn-outline-secondary my-2 my-sm-0 link-btn">Copy Photo Link</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endfor %}
{% endblock %}
